
@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
    font-family: 'Questrial', sans-serif;
    margin: 0px;
    padding: 0px;
    background: #f0f0f0;
}

/******************/
/* Loading Screen */
/******************/

#loading-screen {
    background: #636363;
}

.loading-block {
    transition: all 5s;
    position: fixed;
    width: 100vw;
    z-index: 101;
    background: #636363;
    animation : loading-screen-animation 1s ease-in-out;
    animation-iteration-count: 2;
}

@keyframes loading-screen-animation {
    0% {
	background-color: #636363;
    }
    50% {
	background-color: #696969;
    }
    100% {
	background-color: #636363;
    }
} 

#loading-screen-text {
    transition: all 5s;
    padding: 0px;
    margin: 0px;
    color: #fff;
    position: fixed;
    top: 50vh;
    left: 50vw;
    z-index: 102;
    font-size: 50px;
    transform: translate(-50%, -50%);
}

/***************/
/* Expandables */
/***************/

.expandable-container {
}

.expandable-button {
    cursor: pointer;
}

.expandable-button.active {
}

.expandable-content {
    display: block;
}

.expandable-content.active {
}

/*********************/
/* Overall Container */
/*********************/

#all-ticker-symbol-data-container {
}

#all-ticker-symbol-data-container table tr td {
  vertical-align: top;
}

/****************************/
/* Ticker Symbol Expandable */
/****************************/

.ticker-symbol-expandable {
    margin: 0px;

}

.ticker-symbol-content {
}

table.ticker-symbol-content td {
    width: 50vw;
}

.ticker-symbol-label {
    background: #636363;
    color: #fff;
    font-size: 2em;
    margin: 0px;
    padding: 10px;
}

.ticker-symbol-label:hover {
    transition: all 0.5s;
    background: #777;
}

.ticker-symbol-label:before {
    transition: all 0.5s;
    content: '\25B7';
    display: inline-block;
    margin-right: 6px;
}

.ticker-symbol-label.active:before {
    transform: rotate(90deg);
}

.ticker-symbol-content {
    transition: all 0.5s;
    max-height: 0px;
    padding: 0px 25px 0px 25px;
    overflow: auto;
}

.ticker-symbol-content.active {
    padding: 25px;
}

/*************/
/* Date Data */
/*************/

.all-dates-container {
}

.iframe-container {
}

.stats-and-chart-container {
    border: 2px solid #555;
    padding: 30px;
    margin: 10px;
    background: #fff;
    width: fit-content;
}

.stats-table {
    min-width: 250px;
}

.stats-table p {
    padding: 3px 3px 3px 3px;
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: right;
    width: max-content
}

.stats-and-chart-table {
}

.chart-iframe {
    width: 410px;
    height: 260px;
    padding: 10px 10px 10px 10px;
}
